In [1]:

# Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points
import yfinance as yf

tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [3]:

# Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Point
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

soup = BeautifulSoup(html_data, "html.parser")
tables = soup.find_all("table")
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for table in tables:
    if "Tesla Quarterly Revenue" in str(table):
        rows = table.find_all("tr")
        for row in rows[1:]:
            cols = row.find_all("td")
            if len(cols) == 2:
                date = cols[0].text.strip()
                revenue = cols[1].text.strip().replace("$", "").replace(",", "")
                if revenue:
                    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index=True)
tesla_revenue.head()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [4]:

# Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [ ]:

# Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Point
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text

soup = BeautifulSoup(html_data, "html.parser")
tables = soup.find_all("table")
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for table in tables:
    if "GameStop Quarterly Revenue" in str(table):
        rows = table.find_all("tr")
        for row in rows[1:]:
            cols = row.find_all("td")
            if len(cols) == 2:
                date = cols[0].text.strip()
                revenue = cols[1].text.strip().replace("$", "").replace(",", "")
                if revenue:
                    gme_revenue = gme_revenue.append({"Date": date, "Revenue": revenue}, ignore_index=True)
gme_revenue.head()

In [ ]:

# Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
import matplotlib.pyplot as plt

# Filter matching dates in revenue and stock data
tesla_revenue["Date"] = pd.to_datetime(tesla_revenue["Date"])
tesla_data["Date"] = pd.to_datetime(tesla_data["Date"])
tesla_data_filtered = tesla_data[tesla_data["Date"] >= tesla_revenue["Date"].min()]

fig, ax1 = plt.subplots(figsize=(14, 6))
ax1.plot(tesla_data_filtered["Date"], tesla_data_filtered["Close"], label="Stock Price")
ax2 = ax1.twinx()
ax2.plot(tesla_revenue["Date"], tesla_revenue["Revenue"].astype(float), color="orange", label="Revenue")
ax1.set_title("Tesla Stock Price and Revenue Over Time")
ax1.set_xlabel("Date")
ax1.set_ylabel("Stock Price")
ax2.set_ylabel("Revenue (in billions)")
plt.show()

In [ ]:

# Question 6 - GameStop Stock and Revenue Dashboard - 2 Points
gme_revenue["Date"] = pd.to_datetime(gme_revenue["Date"])
gme_data["Date"] = pd.to_datetime(gme_data["Date"])
gme_data_filtered = gme_data[gme_data["Date"] >= gme_revenue["Date"].min()]

fig, ax1 = plt.subplots(figsize=(14, 6))
ax1.plot(gme_data_filtered["Date"], gme_data_filtered["Close"], label="Stock Price")
ax2 = ax1.twinx()
ax2.plot(gme_revenue["Date"], gme_revenue["Revenue"].astype(float), color="orange", label="Revenue")
ax1.set_title("GameStop Stock Price and Revenue Over Time")
ax1.set_xlabel("Date")
ax1.set_ylabel("Stock Price")
ax2.set_ylabel("Revenue (in billions)")
plt.show()